/* Nombre tienda */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/*titillium*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    background-color:rgb(224, 225, 255)
}
html {
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  }
  
h1,h2,h3,h4,h5{
    text-transform: uppercase;
}
h2,h3,h4,h5,p,a,li{
    font-family: 'Titillium Web', sans-serif;
}
h1{
    font-family: 'Bree Serif', serif;
    font-weight: 100;
    text-transform: uppercase;
}

figure>img{
    width: 100%;
    display: block;
}
header,nav{
    background-color: #f0f0f0
}

header>h1{
    text-align: center;
    background-color: #fff;
    padding: 4vh 0;
}

nav:first-of-type{
    display: none;
}
nav:first-of-type>a{
    display: block;
    text-align: right;
    padding: 0 1%;
}
nav:first-of-type>ul{
    width: 100vw;
    position: fixed;
    left: -100%;
    background-color: rgb(240,240,240);
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    transition: 1s ease;
}
nav:last-of-type{
    display: block;
}
nav{
    position: sticky;
    top: 0px;
    z-index: 10000;
}
nav>ul{
    display: flex;
    justify-content:center;
    list-style: none;
    
}


nav>ul>li{
    min-width: 24vw;
    height: 4vh;
}
nav>ul>li:not(:last-of-type){
    border-right: 1px solid #fff;
}
nav>ul>li>a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    
}


nav>ul>li>a:hover{
    background-color: #000;
    color: #fff;
}
main{
    padding: 5vh 6vw;
}
main>h2{
    text-align: center;
    margin-bottom: 2%;
}
footer{
    background-color: #000;
    padding: 5vh;
}

footer>section:last-of-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20%;

}
footer>section:last-of-type>a{
    padding: 1%;
    background-color: #fff;
    border-radius: 100%;
    width: 5%;
    border: 1px solid #fff;
    transition: 1s ease;
}
footer>section:last-of-type>a:hover{
    background-color: #000;
}
footer>section:last-of-type>a>figure>img{
    transition: 1s ease
}
footer>section:last-of-type>a:hover>figure>img{
    filter: invert(1);
}
@media screen and (max-width: 750px){
    footer>section:last-of-type>a{
        width: 15%;
        padding: 5%;
    }
}
@media screen and (max-width: 500px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
    nav:first-of-type{
        display: block;
    }
    nav:last-of-type{
        display: none;
    }
  }
/* @media screen and (max-width: 1000px) {
    html {
      font-size: calc(22px + 6 * ((100vw - 320px) / 680));;
    }
} */